.smashHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 6rem;

  &__title {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  &__navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .smashHeader__navItem {
      text-decoration: none;
      border: 0.125rem solid grey;
      padding: 0.5rem;
      color: black;
      width: 100%;

      &:first-of-type {
        border-right: none;
      }
    }

    .active {
      background-color: lightblue;
    }
  }
}
