<mat-card class="smashWin">
  <mat-card-header>
    <mat-card-title>Disburse Funds</mat-card-title>
  </mat-card-header>
  <div class="smashWin__form-container">
    <mat-form-field>
      <mat-label>Select Winner</mat-label>
      <mat-select (selectionChange)="playerSelected($event)">
        <mat-option *ngFor="let player of smashPlayers" [value]="player.userId">
          {{ player.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button
    mat-stroked-button
    (click)="onDisburse()"
    [disabled]="!selectedPlayer"
  >
    {{ selectedPlayer ? selectedPlayer.name : "" }} won!
  </button>
</mat-card>
