:host {
  display: flex;
  justify-content: center;
}
.smashWin {
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-left: 1rem;
  }
  &__form-container {
    flex: 1;
  }
}
