@import "./../../../../assets/styles/breakpoints.scss";

::ng-deep .mat-slide-toggle-label {
  border: solid 1px grey;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 9rem;
  justify-content: center;

  @include respond-to("mobile") {
    width: 4rem;
    flex-wrap: wrap;
    height: 2rem !important;
  }
}
::ng-deep .mat-slide-toggle-content {
  @include respond-to("mobile") {
    padding-top: 0.5rem;
  }
}
