@import "./../../../../assets/styles/breakpoints.scss";

:host {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.smashBiggest {
  &__item {
    width: 40%;
    text-align: center;

    @include respond-to("mobile") {
      width: 50%;
    }
    &--winner {
      background-color: #b9f6ca;
    }
    &--loser {
      background-color: #ff8a80;
    }
  }
}
