@import "./../../../assets/styles/breakpoints.scss";

.smashHome {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  h1 {
    width: 100%;
    text-align: center;
  }
  &__actionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__actionItem {
    flex: 1 0 35%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;

    @include respond-to("tablet") {
      flex: 1;
    }

    @include respond-to("mobile") {
      margin: 1rem 0;
      padding: 1rem;
      flex: 1;
    }
  }
}
