<mat-toolbar *ngIf="title" class="smashHeader__toolbar">
  {{ title }}

  <a [routerLink]="adminTab.path"
    ><mat-icon
      aria-hidden="false"
      aria-label="admin section"
      class="smashHeader__admin"
      >settings_applications</mat-icon
    >
  </a>
</mat-toolbar>
<nav mat-tab-nav-bar class="smashHeader__nav">
  <a
    mat-tab-link
    *ngFor="let tab of tabs"
    [routerLink]="tab.path"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
    >{{ tab.name }}
  </a>
</nav>
